* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000021;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #7208d4;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  font-size: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: medium;
  font-weight: 900;
  color: #adff2f;
}

nav ul li a:hover {
  color: #000021;
  font-size: 20px;
  background-color: #adff2f;
  border-radius: 5px;
  padding: 3px;
}

#side-div,
#menu-icon {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #00002100;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.side-bar li {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 20px auto 20px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.side-bar li:hover {
  background-color: #7208d4;
}

.active {
  font-weight: 900;
  color: #adff2f;
}

#element {
  color: #adff2f;
}

.left {
  font-size: 1.5rem;
  background-color: #adff2f;
  color: #000021;
  border-radius: 10px;
  padding: 10px;
}

.left:hover {
  background-color: #000021;
  color: #adff2f;
  border: 2px solid #adff2f;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
}

.firstSection > div {
  width: 40%;
}

.leftSection {
  font-size: 2rem;
  margin: 30px 0;
}

.element {
  font-size: 3rem;
}

.leftSection > p {
  font-size: 20px;
  margin-top: 20px;
  color: #507367;
}

.rightSection img {
  width: 90%;
  margin-top: 20px;
}

.purple {
  color: #ff4500;
  text-decoration: underline;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
}

.button {
  height: 50px;
  width: 300px;
  margin-left: 5px;
  background-color: #acff2f00;
  color: #507367;
  border: 1px solid #adff2f;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
}

.button:hover {
  background-color: #adff2f;
  color: #000021;
}

main hr {
  background-color: #9c97f1;
  height: 0.1rem;
  border: 0;
  margin: 60px;
}

.AboutSection {
  margin: 80px;
}

.AboutNote {
  color: #adff2f;
  font-size: 30px;
}

.AboutNote h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutNote p {
  margin-left: 6px;
  color: #507367;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-radius: 20px;
  padding: 20px;
}

.LeftAbout {
  max-width: 370px;
  width: 100%;
  background-color: #41373762;
  box-shadow: 0 5px 10px #0000001a;
  border-radius: 24px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  background-color: #adff2f;
  padding: 3px;
  margin-bottom: 10px;
}

.profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.LeftAbout .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-data .job {
  font-size: 25px;
  font-weight: 500;
  color: #507367;
}

.text-data .part-time {
  font-size: 18px;
  font-weight: 400;
  color: #507367;
}

.text-data .name {
  font-size: 50px;
  color: #adff2f;
}

.LeftAbout .media-icons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.media-icons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  background: #507367;
}

.media-icons a:hover {
  background-color: #adff2f;
  color: #000021;
}

.btns .ContactButton {
  height: 50px;
  width: 300px;
  margin-top: 20px;
  background-color: #acff2f00;
  color: #507367;
  border: 1px solid #adff2f;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
}

.ContactButton:hover {
  background-color: #adff2f;
  color: #000021;
}

.RightAbout {
  width: 90%;
  display: flex;
  gap: 25px;
  border-radius: 20px;
  padding: 30px;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 5px;
  cursor: pointer;
}

.RightAbout > div {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-shadow: 0 4px 6px #0000001a;
}

.RightAbout .intro {
  color: #507367;
  font-size: 1.2rem;
}

.head {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #adff2f;
}

.para {
  font-size: 1rem;
  color: #507367;
}

.skillSection {
  margin: 80px;
}

.SkillHead {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #adff2f;
  font-size: 30px;
}

.MainSkillContainer {
  height: auto;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.MainSkillContainer > div {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  background-color: #41373762;
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
  margin: 20px;
  height: auto;
}

.MainSkillContainer > div > h1 {
  text-align: center;
  background-color: #adff2f;
  color: #000021;
  padding: 5px;
  border-radius: 10px;
}

.Skills {
  height: 170px;
  width: 130px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.Skills .img {
  height: 100px;
  width: 100px;
  margin: 5px;
  margin-top: 10px;
}

.Skills > p {
  text-align: center;
  margin-right: 15px;
  margin-top: 5px;
  color: #507367;
  font-size: 20px;
}

.Skilldiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* project section */

.projectSection {
  margin: 80px;
  height: auto;
}

.head-pro p {
  text-align: center;
  margin-top: 1px;
  color: #507367;
  font-size: 20px;
}

.head-pro h1 {
  text-align: center;
  color: #adff2f;
  font-size: 50px;
}

.projContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 25px;
  width: auto;
  height: auto;
}

.projectFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  margin: 10px;
  box-shadow: 0 5px 10px #0000001a;
  background-color: #41373789;
  border-radius: 20px;
  padding: 20px;
}

.projleft {
  max-width: 370px;
  width: 100%;
  border-radius: 24px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proimg {
  position: relative;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  margin-bottom: 10px;
  /* margin-left: 30px; */
}

.projright {
  width: 90%;
  height: 300px;
  gap: 25px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  cursor: pointer;
}

.rightHead {
  display: flex;
  justify-content: flex-start;
}

.technology {
  display: flex;
  justify-content: start;
  gap: 30px;
  font-size: 20px;
}

.technology > ul > li {
  background-color: #50736755;
  color: #adff2f;
  padding: 10px;
  border-radius: 20px;
  /* width: 100%; */
  width: 120px;
  list-style: none;
}

.technology > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.rightHead > .Btns {
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

.Btns > button {
  background: #80808031;
  border-radius: 10px;
}

/* contact Section */

.contactME {
  margin: 80px;
}

.ContactHead > h1 {
  text-align: center;
  color: #adff2f;
  font-size: 50px;
}

.ContactHead > p {
  text-align: center;
  font-size: 20px;
  margin-left: 5px;
  color: #507367;
}

.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.first {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.second {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.FormInputs {
  height: 50px;
  width: 365px;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 22px;
  background-color: #41373789;
  color: #507367;
  border-radius: 10px;
}

.FormInputs:hover {
  border: 1px solid #adff2f;
}

textarea {
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 13.7px;
  background-color: #41373789;
  color: #507367;
  border-radius: 10px;
  resize: none;
}

textarea:hover {
  border: 1px solid #adff2f;
}

#btn {
  height: 50px;
  width: 365px;
  outline: 0;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  border: 1px solid #507367;
  background-color: #000021;
  color: #adff2f;
  border-radius: 10px;
}

#btn:hover {
  background-color: #adff2f;
  color: #000021;
  border: 0;
}

.foot {
  height: auto;
  width: 100%;
  background-color: #7208d4;
  color: #adff2f;
}

.mainFooterdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainFooterdiv > div {
  margin-top: 40px;
}

.firstClass p {
  font-size: 20px;
  color: #000021;
}

.secondClass ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.secondClass li a {
  color: #000021;
  font-size: 20px;
  font-weight: 500;
}

.secondClass li a:hover {
  color: #adff2f;
}

.thirdClass ul li {
  list-style: none;
  margin-left: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.thirdClass li a {
  color: #000021;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.foot > hr {
  margin-top: 60px;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  body {
    background-color: #000021;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  .navbar {
    width: 100%;
  }

  .left {
    font-size: 1.2rem;
    text-align: center;
  }

  .right {
    display: none;
  }

  #menu-icon {
    display: flex;
  }

  .firstSection {
    margin: 0px;
    width: 100%;
  }

  .firstSection > div {
    width: 100%;
  }

  .leftSection {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .element {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .leftSection > p {
    font-size: 15px;
  }

  #Resume-btn {
    width: auto;
    height: auto;
    padding: 10px;
    font-weight: 200;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }

  .rightSection {
    display: none;
  }

  /* Side bar */

  .side-bar {
    width: 100px;
  }

  .side-bar li {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 20px auto 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;
  }

  main hr {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  /* About section */

  .AboutSection {
    margin: 0px;
    width: 100%;
  }

  .AboutSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .About-Container {
    flex-direction: column;
    justify-content: center;
  }

  .AboutNote > h1,
  p {
    text-align: center;
  }

  .img-container {
    height: auto;
    width: auto;
  }

  .LeftAbout {
    height: auto;
    width: 100%;
  }

  .text-data {
    text-align: center;
  }

  .text-data .name {
    font-size: 40px;
    font-weight: 500;
    color: #adff2f;
  }

  .media-icons .link {
    height: auto;
    width: auto;
    background: none;
  }

  .btns .ContactButton {
    height: 50px;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    text-align: center;
  }

  .RightAbout {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
  }

  /* skill section */

  .skillSection {
    margin: 0px;
    width: 100%;
  }

  .MainSkillContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }

  .MainSkillContainer > div {
    width: 100%;
    min-width: none;
  }

  .Skilldiv {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* project */

  .projectSection {
    margin: 0px;
    width: 100%;
  }

  .projectFirst {
    flex-direction: column;
  }

  .rightHead {
    margin-right: 20px;
  }

  .rightHead > .Btns {
    margin-left: 25px;
  }

  .Btns > button {
    background: none;
    border-radius: 50%;
  }

  .projleft {
    display: none;
  }

  .projright {
    width: auto;
    height: auto;
    margin-right: 10px;
  }

  .technology {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 10px;
  }

  .technology > ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 20px;
  }

  /* Contact Form */

  .contactME {
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .FormContainer {
    flex-direction: column;
  }

  .first {
    flex-direction: column;
  }

  .second {
    flex-direction: column;
  }

  textarea {
    height: 100px;
    width: 360px;
  }

  /* Footer section */

  .mainFooterdiv {
    flex-direction: column;
    text-align: center;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #adff2f, 0 0 10px #adff2f;
  }
  50% {
    box-shadow: 0 0 20px #adff2f, 0 0 40px #adff2f;
  }
  100% {
    box-shadow: 0 0 5px #adff2f, 0 0 10px #adff2f;
  }
}

.projectFirst:hover {
  animation: glow 1.5s infinite alternate;
}

#Resume-btn {
  animation: glow 1.5s infinite alternate;
}

.media-icons > a:hover {
  animation: glow 1.5s infinite alternate;
}
